<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
      <plugin
        className="org.zywx.wbpalmstar.plugin.ueximagebrowser.EUExImageBrowser"
        uexName="uexImageBrowser" >
        <method name="pick" />
        <method name="pickMulti" />
        <method name="open" />
        <method name="save" />
        <method name="cleanCache" />
    </plugin>
    
</uexplugins>